.rdrMonth, .rdrWeekDays, .rdrDays {
    width: 100% !important;
}

:where(.css-dev-only-do-not-override-17seli4).ant-form-item {
    margin-bottom: 15px;
}

:where(.css-dev-only-do-not-override-17seli4).ant-tabs-top >.ant-tabs-nav::before {
    border-bottom: 2px solid #efefef !important;
}

.ant-tabs-ink-bar {
    height: 5px;
    background: #f43f5e !important;
  }

  .ant-carousel .slick-dots li button {
    border-radius: 5px;
    height: 10px;
  }
  .ant-carousel .slick-dots li.slick-active button {
    background: #3b82f6;
  }
  
footer {
  background-image: url("https://image.slidesdocs.com/responsive-images/background/business-line-pink-creative-light-pink-abstract-powerpoint-background_4e065a31e0__960_540.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.modal {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0 !important;
}

.content {
  position: relative;
  border: none;
  z-index: 1 !important;
}
.copyright{
  margin: 0 auto;
  width: 90%;
  border-top-color: #6d6d6d9d;
  position: relative;
  z-index: 1 !important;
}